{% extends "general/layout.html" %}

{% block head_title %}My Social Media{% endblock %}

{% block page_content %}
<div class="container">
  {% include '_includes/_messages.html' %}

  <h1>Perfiles</h1>

  <div class="row">
    {% for profile in profiles %}
      <article class="col-12 col-sm-6 col-md-4 mb-4">
          <h4>{{ profile.user.username }}</h4>
          <p>Biografía: {{ profile.bio|default_if_none:"Sin rellenar" }}</p>
          <p>Fecha de nacimiento: {{ profile.birth_date|default_if_none:"Sin rellenar" }}</p>
          <p>
            {% if profile.profile_picture %}
               <img width="150px" src="{{ profile.profile_picture.url }}" alt="Foto de perfil">
            {% else %}
               No hay imagen de perfil
            {% endif %}
          </p>
          <p>Seguidos: {{ profile.followers.count }}</p>
          <p><a href="{% url 'profile_detail' profile.pk %}">Ver perfil</a></p>
      </article>
    {% endfor %}
  </div>
</div>
    {% endblock %}
